In [25]:
%pip install numpy

%pip install pandas

%pip install random

Requirement already satisfied: numpy in c:\python312\lib\site-packages (1.26.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\python312\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\python312\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\fabri\appdata\roaming\python\python312\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python312\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\python312\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\fabri\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement random (from versions: none)
ERROR: No matching distribution found for random

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [26]:
import numpy as np
import pandas as pd
import random

In [27]:
df = pd.read_csv('mega_sena-1.csv')
df.head()

,Unnamed: 0,Concurso,Data Sorteio,Arrecadacao Total,Dezena_1,Dezena_2,Dezena_3,Dezena_4,Dezena_5,Dezena_6,...,Ganhadores Quina,Rateio Quina,Ganhadores Quadra,Rateio Quadra,Acumulado,Valor_Acumulado,Estimativa de Prêmio,Acumulado Mega da Virada,Local do Sorteio,Cidade UF Sorteio
0,0,1,11/03/1996,0.0,41,5,4,52,30,33,...,17,39158.92,2016,330.21,SIM,1714650.23,0.0,0.0,Auditório,"Brasília, DF"
1,1,2,18/03/1996,0.0,9,39,37,49,43,41,...,65,14424.02,4488,208.91,NÃO,0.00,0.0,0.0,Caminhão da Sorte,"Belo Horizonte, MG"
2,2,3,25/03/1996,0.0,36,30,10,11,29,47,...,62,10515.93,4261,153.01,NÃO,0.00,0.0,0.0,Auditório,"Brasília, DF"
3,3,4,01/04/1996,0.0,6,59,42,27,1,5,...,39,15322.24,3311,180.48,SIM,717080.75,0.0,0.0,Caminhão da Sorte,"Santo André, SP"
4,4,5,08/04/1996,0.0,1,19,46,6,16,2,...,98,5318.10,5399,96.53,SIM,1342488.85,0.0,0.0,Auditório,"Brasília, DF"

In [28]:
df_filtered = df[df['Valor_Acumulado'] == 0.0]
df_filtered.head()

,Unnamed: 0,Concurso,Data Sorteio,Arrecadacao Total,Dezena_1,Dezena_2,Dezena_3,Dezena_4,Dezena_5,Dezena_6,...,Ganhadores Quina,Rateio Quina,Ganhadores Quadra,Rateio Quadra,Acumulado,Valor_Acumulado,Estimativa de Prêmio,Acumulado Mega da Virada,Local do Sorteio,Cidade UF Sorteio
1,1,2,18/03/1996,0.0,9,39,37,49,43,41,...,65,14424.02,4488,208.91,NÃO,0.0,0.0,0.0,Caminhão da Sorte,"Belo Horizonte, MG"
2,2,3,25/03/1996,0.0,36,30,10,11,29,47,...,62,10515.93,4261,153.01,NÃO,0.0,0.0,0.0,Auditório,"Brasília, DF"
10,10,11,20/05/1996,0.0,25,15,58,37,59,38,...,148,12706.05,9442,199.16,NÃO,0.0,0.0,0.0,Auditório,"Brasília, DF"
16,16,17,01/07/1996,0.0,10,20,6,19,51,13,...,144,7628.37,9376,117.16,NÃO,0.0,0.0,0.0,Auditório,"Brasília, DF"
23,23,24,19/08/1996,0.0,1,8,14,28,33,43,...,227,7897.31,13486,132.93,NÃO,0.0,0.0,0.0,NaN,NaN

In [29]:
numbers = ['Dezena_1', 'Dezena_2', 'Dezena_3', 'Dezena_4', 'Dezena_5', 'Dezena_6']

In [30]:
dfNum = df_filtered[numbers]
dfNum.head()

    Dezena_1  Dezena_2  Dezena_3  Dezena_4  Dezena_5  Dezena_6
1          9        39        37        49        43        41
2         36        30        10        11        29        47
10        25        15        58        37        59        38
16        10        20         6        19        51        13
23         1         8        14        28        33        43

In [31]:
df_melted = dfNum.melt(var_name='Column', value_name='Numbers')
df_melted['Column'] = df_melted['Column'].str.split('_').str[-1]

In [32]:
count_numbers = df_melted['Numbers'].value_counts()
percent_numbers = (count_numbers / len(df_melted)) * 100
dfPercent = pd.DataFrame({'Numbers': percent_numbers.index, 'Percent': percent_numbers.values})

In [33]:
dfPercent = dfPercent.sort_values(by='Percent', ascending=False)

In [34]:
top_20 = dfPercent.head(20)
print(top_20)

    Numbers   Percent
0         5  2.614943
1        10  2.413793
2        33  2.183908
3         8  2.040230
4         3  2.040230
5        12  2.011494
6        23  2.011494
8        17  1.954023
9         1  1.954023
7        36  1.954023
10       42  1.925287
11       11  1.925287
12       37  1.925287
13       34  1.896552
14        4  1.896552
15       27  1.867816
19       24  1.810345
20        6  1.810345
16       13  1.810345
18       32  1.810345

In [35]:
numbers_top_20 = top_20['Numbers'].tolist()
random_numbers = random.sample(numbers_top_20, 6)
random_numbers_sorted = sorted(random_numbers)

In [36]:
print('Numbers drawn: ', random_numbers_sorted)

Numbers drawn:  [13, 24, 27, 33, 36, 42]